div {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.square
{
    width:150px;
    height:110px;
    border-radius: 10%;
}

p{
    font-size: 12px;
    color: black;
    margin-top: 79px;
    margin-left: 3px;
}


.red-name
{
  background: linear-gradient(red 70%, white 30%);
  border-color: lightgray;
  border-style: solid;

}
.aqua-name
{
      background: linear-gradient(Aqua 70%, white 30%);
        border-style: solid;
        border-color: lightgray;
}
.yellow-name
{
      background: linear-gradient(yellow 70%, white 30%);
        border-style: solid;
        border-color: lightgray;
}

.red-hex
{
  background: linear-gradient(#FF0000 70%, white 30%);
  border-color: lightgray;
  border-style: solid;
}
.aqua-hex
{
      background: linear-gradient(#00FFFF 70%, white 30%);
        border-style: solid;
        border-color: lightgray;
}
.yellow-hex
{
      background: linear-gradient(#FFFF00 70%, white 30%);
        border-style: solid;
        border-color:lightgray;
}

.red-rgb
{
  background: linear-gradient(rgb(255, 0, 0) 70%, white 30%);
  border-color: lightgray;
  border-style: solid;
}
.aqua-rgb
{
      background: linear-gradient(rgb(0, 255, 255) 70%, white 30%);
        border-style: solid;
        border-color: lightgray;
}
.yellow-rgb
{
      background: linear-gradient(rgb(255, 255,0) 70%, white 30%);
        border-style: solid;
        border-color:lightgray;
}

.red-6rgba
{
  background: linear-gradient(rgba(255, 0, 0, 0.5) 70%, white 30%);
  border-color: lightgray;
  border-style: solid;
}
.red-3rgba
{
  background: linear-gradient(rgba(255, 0,0, 0.3) 70%, white 30%);
  border-color: lightgray;
  border-style: solid;
}
.red-1rgba
{
  background: linear-gradient(rgba(255, 0, 0,1) 70%, white 30%);
  border-color: lightgray;
  border-style: solid;
}

.red-0rgba
{
  background: linear-gradient(rgba(255, 0, 0,0.1) 70%, white 30%);
  border-color: lightgray;
  border-style: solid;
}


.back
{
    background-color: yellow;
}

.opa
{
  border-color: black;
  border-style: solid;
  background-color: blue;
  opacity: 0.5;

}
.rgba
{
        border-style: solid;
        border-color:black;
        background-color:rgba(0, 0, 255, 0.5)
}
