 .nav-container 
 {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .card-container
 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
 }

 .sup-dev
 {
   color:black; 
   border: solid;
   width: 327px;
   height: 240px;
 }

 a
{
   color:red;
   font-size: 14px;
   text-decoration: none;
   padding-right: 50px;
}

div h2
{
   color: red;
   margin-left: 6px;
}

p
{
   margin-left: 6px;
}

fieldset
{
   margin-top: 50px;
}