 .nav-container 
 {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .card-container
 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
 }

 .sup-dev
 {
   color:black; 
   border: solid;
   position: relative; 
   width: 330px;
   height: 250px;
 }

 a
{
   color:red;
   font-size: 14px;
   text-decoration: none;
   align-items: center;
   justify-content: center;
   padding-right: 50px;
}